
/* RIERINO FONTS (for CSS only) */
.rie-wave-card, .ms-Tooltip {
  /* style variant weight size/line family */
  --fonts--bold-28: normal 700 28px/35px Montserrat;
  --fonts--bold-24: normal 700 24px/30px Montserrat;
  --fonts--bold-22: normal 700 22px/28px Montserrat;
  --fonts--bold-14: normal 700 14px/18px Montserrat;
  --fonts--bold-13: normal 700 13px/17px Montserrat;
  --fonts--bold-12: normal 700 12px/15px Montserrat;
  --fonts--bold-10: normal 700 10px/13px Montserrat;

  --fonts--semibold-12: normal 600 12px/15px Montserrat;
  --fonts--semibold-8: normal 600 8px/10px Montserrat;

  --fonts--medium-12: normal 500 12px/15px Montserrat;
  --fonts--medium-11: normal 500 11px/14px Montserrat;
  --fonts--medium-10: normal 500 10px/13px Montserrat;
  --fonts--medium-8: normal 500 8px/10px Montserrat;

  --fonts--medium-zip-11: normal 500 11px/20px Montserrat;

  --fonts--regular-22: normal 400 22px/28px Montserrat;
  --fonts--regular-16: normal 400 16px/20px Montserrat;
  --fonts--regular-14: normal 400 14px/18px Montserrat;
  --fonts--regular-12: normal 400 12px/15px Montserrat;
  --fonts--regular-11: normal 400 11px/20px Montserrat;
  --fonts--regular-10: normal 400 10px/12px Montserrat;
}

/* RIERINO COLORS (for CSS only) */
.rie-wave-card, .ms-Tooltip {
  --colors--tolopea: #1B064C;
  --colors--heliotrope: #9A42FF;
  --colors--paris-m: #20075A;
  --colors--electric-violet: #6022F1;
  --colors--purple-heart: #6C3BDE;
  --colors--moon-raker: #D8CBF6;
  --colors--fog: #EAD6FF;
  --colors--blue-chalk: #F4F0FF;
  --colors--magnolia: #FBFAFF;
  --colors--persian-blue: #261FAD;
  --colors--portage: #847EF6;
  --colors--pigeon-post: #B7B5DE;
  --colors--selago: #E9E8FC;
  --colors--titan-white: #F0F0FF;
  --colors--azure: #366DBA;
  --colors--periwinkle: #BDD8FF;
  --colors--hawkes-blue: #DFEBFB;
  --colors--bright-gray: #363B4A;
  --colors--comet: #515A70;
  --colors--lynch: #6B7794;
  --colors--manatee: #8F97AE;
  --colors--mischka: #D3D6DF;
  --colors--athens-gray: #EDEFF2;
  --colors--mandy: #EB475A;
  --colors--pink: #FFBDC4;
  --colors--azalea: #FBDFE2;
  --colors--coral: #FF7E47;
  --colors--romantic: #FFD4C2;
  --colors--peach-schnapps: #FFE6DB;
  --colors--eucalyptus: #259374;
  --colors--shamrock: #33CCA1;
  --colors--jagged-ice: #B4E4D7;
  --colors--polar: #E2F8F2;

  --colors--white: #FFFFFF;
  --colors--indigo: #5F59CF;
  --colors--perfume: #ADA9F9;
  --colors--forget-me-not: #FFF1EB;

  --gradients-g-heliotrope: linear-gradient(270.53deg, #CB47FF -5.4%, #6B35E9 131.2%);
}

/* H2O WAVE STANDARD COLOR OVERRIDES */
.rierino-wave {
  /* Base colors. */
  --amber: #ffc107;
  --azure: #03a9f4;
  --blue: #2196f3;
  --brown: #795548;
  --card: #ffffff;
  --cyan: #00bcd4;
  --gray: #9e9e9e;
  --green: #8bc34a;
  --indigo: #3f51b5;
  --lime: #cddc39;
  --mint: #4caf50;
  --orange: #ff9800;
//  --page: #f5f5f5;
  --page: #FBFAFF;
  --pink: #e91e63;
  --purple: #9c27b0;
  --red: #f44336;
  --tangerine: #ff5722;
  --teal: #009688;
  --text: #323130;
  --violet: #673ab7;
  --yellow: #ffeb3b;

  /* Text tones. */
  --text0: rgba(50, 49, 48, 0.05);
  --text1: rgba(50, 49, 48, 0.1);
  --text2: rgba(50, 49, 48, 0.2);
  --text3: rgba(50, 49, 48, 0.3);
  --text4: rgba(50, 49, 48, 0.4);
  --text5: rgba(50, 49, 48, 0.5);
  --text6: rgba(50, 49, 48, 0.6);
  --text7: rgba(50, 49, 48, 0.7);
  --text8: rgba(50, 49, 48, 0.8);
  --text9: rgba(50, 49, 48, 0.9);

  /* Fluent colors. */
  --themePrimary: #000000;
  --themeLighterAlt: #898989;
  --themeLighter: #737373;
  --themeLight: #595959;
  --themeTertiary: #373737;
  --themeSecondary: #2f2f2f;
  --themeDarkAlt: #252525;
  --themeDark: #151515;
  --themeDarker: #0b0b0b;
  --neutralLighterAlt: #faf9f8;
  --neutralLighter: #f3f2f1;
  --neutralLight: #edebe9;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralQuaternary: #d0d0d0;
  --neutralTertiaryAlt: #c8c6c4;
  --neutralTertiary: #a19f9d;
  --neutralSecondary: #605e5c;
  --neutralPrimaryAlt: #3b3a39;
  --neutralPrimary: #323130;
  --neutralDark: #201f1e;
  --black: #000000;
  --white: #ffffff;
}
